@using System.Globalization
@using Microsoft.AspNetCore.Html
@inject MCan.Services.JsonLocalizationService Localizer

@{
    var currentCulture = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var companyName = currentCulture == "ar"
    ? new HtmlString("إمكان")
    : new HtmlString("M<span class=\"dot\">.</span>CAN");
}

<div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <!-- اللوجو -->
    <a href="/" class="logo d-flex align-items-center @(currentCulture == "ar" ? "ms-auto" : "me-auto")">
        <img src="~/assets/logo.png" alt="">
        <h1 class="sitename"> @companyName</h1>
    </a>

    <!-- الناف بار -->
    <nav id="navmenu" class="navmenu @(currentCulture == "ar" ? "flex-row" : "")">
        <ul class="@(currentCulture == "ar" ? "text-end" : "text-start")">
            <li><a href="#hero" class="active">@Localizer.Get("Home")</a></li>
            <li><a href="#about">@Localizer.Get("About")</a></li>
            <li><a href="#services">@Localizer.Get("Services")</a></li>
            <li><a href="#portfolio">@Localizer.Get("Portfolio")</a></li>
            <li><a href="#contact">@Localizer.Get("Contact")</a></li>
            <li class="dropdown">
                <a href="#">
                    <span>@(currentCulture == "ar" ? "العربية" : "English")</span>
                    <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <ul>
                    @if (currentCulture != "en")
                    {
                        <li>
                            <form method="post" asp-controller="Localization" asp-action="SetLanguage" class="d-inline">
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                <input type="hidden" name="culture" value="en" />
                                <a href="#" onclick="this.closest('form').submit(); return false;">English</a>
                            </form>
                        </li>
                    }
                    @if (currentCulture != "ar")
                    {
                        <li>
                            <form method="post" asp-controller="Localization" asp-action="SetLanguage" class="d-inline">
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                <input type="hidden" name="culture" value="ar" />
                                <a href="#" onclick="this.closest('form').submit(); return false;">العربية</a>
                            </form>
                        </li>
                    }
                </ul>
            </li>

        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
</div>
