@inject MCan.Services.JsonLocalizationService Localizer
@using Microsoft.Extensions.Localization
@using System.Globalization
@{
    var currentCulture = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    var isArabic = currentCulture == "ar";
}

<div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between @(isArabic ? "flex-row-reverse" : "")">

        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <img src="~/assets/logo.png" alt="">
        
        <h1 class="sitename">M<span>.</span>CAN</h1>
      
        </a>

    <nav id="navmenu" class="navmenu"  @(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar" ? "rtl-nav" : "")">
            <ul>
            <li><a href="#hero" class="active">@Localizer.Get("Home")<br></a></li>
            <li><a href="#about">@Localizer.Get("About")</a></li>
            <li><a href="#services">@Localizer.Get("Services")</a></li>
            <li><a href="#portfolio">@Localizer.Get("Portfolio")</a></li>
            @* <li><a href="#team">@Localizer.Get("Team")</a></li> *@
            <li><a href="#contact">@Localizer.Get("Contact")</a></li>
            <!-- Language Dropdown -->
            <li class="dropdown">
                <a href="#">
                    <span>@Localizer.Get("Language")</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                <ul>
                    <li>
                        <form method="post" asp-controller="Localization" asp-action="SetLanguage" id="langForm">
                            <button type="submit" name="culture" value="en"
                                    class="dropdown-item border-0 bg-transparent w-100 text-start @(currentCulture == "en" ? "active" : "")">
                                English
                            </button>

                            <button type="submit" name="culture" value="ar"
                                    class="dropdown-item border-0 bg-transparent w-100 text-start @(currentCulture == "ar" ? "active" : "")">
                                العربية
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>



        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    @* <a class="btn-getstarted" href="index.html#about">Get Started</a> *@
    </div>

  